<nav class="navbar navbar-expand-lg navbar-dark bg-color">
  <a class="navbar-brand thick" [routerLink]="['/profile']"><b>My Profile</b></a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/product']">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/reviewers']">Reviewers</a>
        </li>
      </ul>
    </ul>
    <form class="form-inline my-2 my-lg-0 cl-text-white">
      <div class="navbar-header navbar-toggler-right">
        <a (click)="logout()" [routerLink]="['/login']">Log Out</a>
      </div>
    </form>
  </div>
</nav>

<div class="container-fluid row">

  <div class="col-4">
    <br/>
    <ul class="list-group cl-list-group-borderless">
      <li class="list-group-item cl-list-item-borderless">
        <a [routerLink]="['/profile']">
          Edit Profile
        </a>
      </li>
      <li class="list-group-item cl-list-item-borderless">
        <a [routerLink]="['/user', 'favorite']">
          My Favorite List
        </a>
      </li>
    </ul>
  </div>

  <div class="col-8 col-sm-8 col-md-8 col-lg-8">
    <br/>
    <br/>

    <div *ngIf="updateFlag" class="alert alert-success">
      {{updateMsg}}
    </div>

    <div *ngIf="errorFlag" class="alert alert-danger">
      {{errorMsg}}
    </div>

    <form>

      <div class="form-group" *ngIf="user">
        <label for="username">Username</label>
        <input [(ngModel)]="username"
               [ngClass]="{'red-border-class': errorFlag}"
               id="username"
               type="text"
               class="form-control"
               placeholder="Username"
               [ngModelOptions]="{standalone: true}"/>
        <span class="alert-class" *ngIf="errorFlag">{{alert}}</span>
      </div>

      <div class="form-group" *ngIf="user">
        <label for="email">Email address</label>
        <input [(ngModel)]="user.email"
               id="email"
               type="email"
               class="form-control"
               placeholder="alice@wonderland.com"
               [ngModelOptions]="{standalone: true}"/>
      </div>

      <div class="form-group" *ngIf="user">
        <label for="first-name">First Name</label>
        <input [(ngModel)]="user.firstName"
               id="first-name"
               type="text"
               class="form-control"
               placeholder="Alice"
               [ngModelOptions]="{standalone: true}"/>
      </div>

      <div class="form-group" *ngIf="user">
        <label for="last-name">Last Name</label>
        <input [(ngModel)]="user.lastName"
               id="last-name"
               type="text"
               class="form-control"
               placeholder="Wonderland"
               [ngModelOptions]="{standalone: true}"/>
      </div>
      <br/>

      <button type="button" class="btn btn-outline-primary btn-block"
              (click)="updateUser()">Save Changes</button>

    </form>
  </div>
</div>
