<nav class="navbar navbar-expand-lg navbar-dark bg-color">
  <a class="navbar-brand thick" routerLink="/profile"><b>My Profile</b></a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/product']">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reviewers</a>
        </li>
      </ul>
    </ul>
  </div>
  <form class="form-inline my-2 my-lg-0 cl-text-white">
    <div class="navbar-header navbar-toggler-right">
      <a (click)="logout()" [routerLink]="['/']">Log Out</a>
    </div>
  </form>
</nav>

<div class="container-fluid row">
  <div class="col-3">
    <br/>
    <ul class="list-group cl-list-group-borderless">
      <li class="list-group-item cl-list-item-borderless">
        <a [routerLink]="['/profile']">
          Edit Profile
        </a>
      </li>
      <li class="list-group-item cl-list-item-borderless">
        <a [routerLink]="['/user', 'product']">
          My Product
        </a>
      </li>
    </ul>
  </div>

  <div class="col-9 col-sm-9 col-md-9 col-lg-9">
    <br/>
<form #f="ngForm">
      <div class="form-group">
        <label for="product-name">Name</label>
        <input id="product-name"  placeholder="Name"
               [(ngModel)]="product.productName" required
               name="name"/>

  <span class="form-group">
    <label for="product-brand">Brand</label>
    <input id="product-brand" placeholder="Description"
              [(ngModel)]="product.brand" required
              name="description">
  </span></div>
  <div class="form-group">
    <label for="product-price">Price</label>
    <input id="product-price" class="form-control" placeholder="Price"
              [(ngModel)]="product.price" required
              name="description">
  </div>
      <div class="form-group">
        <label for="product-description">Description</label>
        <textarea id="product-description" class="form-control" rows="3" placeholder="Description"
                  [(ngModel)]="product.description" required
                  name="description"></textarea>
      </div>
  <div class="form-group">
    <label for="product-url">Product Image URL</label>
    <input [(ngModel)]="product.url" id="product-url" class="form-control" placeholder="url" name="url">
  </div>
  <div class="form-group">
    <label for="product-width">Product Image Width</label>
    <input [(ngModel)]="product.width" id="product-width" class="form-control" placeholder="width" name="width">
  </div>
  <button type="button" class="btn btn-outline-primary btn-block"
          (click)="createProduct()">Create</button>
  <br>
  <br>
</form>
  </div>
</div>



