<nav class="navbar navbar-expand-lg navbar-dark bg-color">
  <a class="navbar-brand thick" [routerLink]="['/profile']"><b><i class="fas fa-angle-left"></i></b></a>
  <a class="navbar-brand thick" [routerLink]="['.']"><b>My Favorite List</b></a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/product']">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/reviewers']">Reviewers</a>
        </li>
      </ul>
    </ul>
    <form class="form-inline my-2 my-lg-0 cl-text-white">
      <div class="navbar-header navbar-toggler-right" *ngIf="noUser">
        <a [routerLink]="['/login']">Login</a>
        <a [routerLink]="['/register']">Register</a>
      </div>
      <div class="navbar-header navbar-toggler-right" *ngIf="!noUser">
        <a [routerLink]="['/profile']">My Profile</a>
      </div>
    </form>
  </div>
</nav>

<div class="container-fluid cl-container-padding">
  <ul class="list-group cl-list-group-borderless">
    <li *ngFor="let product of products" class="list-group-item cl-list-item-borderless">
      <button (click)="deleteFavorite(product._id)"><span class="glyphicon glyphicon-minus pull-right"></span></button>
      <a [routerLink]="['/product', product._id]">{{product.productName}}</a>
    </li>
  </ul>
</div>
