
<nav class="navbar navbar-expand-lg navbar-dark bg-color">
  <a class="navbar-brand thick" [routerLink]="['..']"><b><i class="fas fa-angle-left"></i></b></a>
  <a class="navbar-brand thick" [routerLink]="['.']"><b>Reviews of Product</b></a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/product']">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/reviewers']">Reviewers</a>
        </li>
      </ul>
    </ul>
    <form class="form-inline my-2 my-lg-0 cl-text-white">
      <div class="navbar-header navbar-toggler-right" *ngIf="noUser" name = "login">
        <a [routerLink]="['/login']">Login</a>
        <a [routerLink]="['/register']">Register</a>
      </div>
      <div class="navbar-header navbar-toggler-right" *ngIf="!noUser" name = "profile">
        <a [routerLink]="['/profile']">My Profile</a>
      </div>
    </form>
  </div>
</nav>

<div class="container-fluid">
  <ul class="list-group cl-list-group-borderless">
    <li *ngFor="let review of reviews" class="list-group-item cl-list-item-borderless">
      <div class="card">
        <div class="card-header">
          {{review.summary}} (Rating: {{review.rating}})
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>{{review.content}}</p>
            <footer class="blockquote-footer">Created by <cite title="Source Title">{{review._user.username}}</cite> {{review.dateCreated}}</footer>
          </blockquote>
        </div>
      </div>
    </li>
  </ul>
</div>
